  {% extends 'base.html' %}
  {% load static %}
  {% block title %} Plataforma Intersectorial de Comunicaci&oacute;n shorten {% endblock %}
  {% block content %}  
  {% load render_table from django_tables2 %}
  {% if messages %}
{% for message in messages %}
<h4><div class="alert alert-{{ message.tags }}"><a class="close" data-dismiss="alert">×</a><strong>Exito!!!</strong> <p>{{ message }}</p></div></h4>
{% endfor %}
{% endif %}
<ul class="nav nav-tabs">
    <li><a href="{% url shorten-mantenimiento-doc-add %}">Nuevo</a></li>
    <li class="active"><a href="{% url shorten-mantenimiento-doc-query %}" >Consultar</a></li>
</ul>
<div class="tab-content" id="contenido_izq">
<div id="consulta" class="tab-pane fade in active">
<form class="form-inline" name="frmdoc_consulta" id='frmdoc_consulta' method="get" action="{% url shorten-mantenimiento-doc-query %}">
<div id="frmregion" class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto auto 20px; z-index: 1;width:720px;height:auto"><!--class="modal hide fade">-->
    <div class="modal-header">
      <a class="close" data-dismiss="modal" href="javascript: cerrarformulario('contenido');">&times;</a>
      <h3>Consulta de Reporte Periodistico</h3>
    </div>
    <div class="modal-body">
      <fieldset>
	     <legend><h4>Lista de Reporte Periodistico</h4></legend>
      {% render_table tabla %}    
      </fieldset>
    </div>
    <div class="modal-footer">
     <input class="btn" name="grabar" value="Cerrar" type="button" onclick="cerrarformulario('contenido');">
    </div>
</div>
</form>
</div></div>
  {% endblock %}

  {% block scriptjs %}    
<script>

function imprimir(){
var filtro = $("#frmdoc_consulta").serialize();
var url="{% url shorten-mantenimiento-doc-print %}?"+filtro;
location.href=url;
}
</script>
  {% endblock %}
